@font-face {
  font-family: UAEDirham; /* set name */
  src: url('../fonts/UAE-dirham.woff'); /* url of the font */
}
.justified-center {
    justify-content: center;
}
.ratio>*{
    object-fit: cover;
}
.navbar{
    background-color: #03334f !important;
}
.navbar-brand img {
    height: 70px;
}
.navbar .nav-link{
   color: #fff !important;
}
.header-search input {
    border-radius: 30px;
    padding-right: 50px;
}
.header-search {
    position: relative;
}
.header-search i {
    position: absolute;
    right: 12px;
    top: 10px;
}

.footer {
    background-color: #03334f !important;
}
.brand-footer-logo img{
   height: 70px;
}

.staff-card{
    box-shadow: 1px 0px 9px 0 rgb(0 0 0 / 20%);
}
.staff-card .staff-desc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#lcl_thumbs_nav{
    display: none !important;
}
.gallery-img {
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
  }

.video-card {
    overflow: hidden;
    border-radius: 20px;
}
.video-card .card-body {
    padding: 0;
}
.video-card .card-body iframe {
    margin-bottom: -10px;
}

.gallery-image-block img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.image-para-desc {
    font-size: 12px;
    margin-bottom: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.image-pop-para {
    font-size: 14px;
    margin-top: -18px;
    text-align: center;
}
.pop-title-container {
    background-color: #e6e6e6;
    border-radius: 12px;
}

.text-theme {
    color: #03334fb3;
}
.proper-block-footer {
    display: flex;
    justify-content: space-between;
}
.one-line-break {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.two-line-break {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-right {
    text-align: right;
}
.fs-9 {
    font-size: 9px;
}
.text-bold {
    font-weight: 700;
}
.fs-13 {
    font-size: 13px;
}
.vertical-center {
    display: flex;
    align-items: center;
}
.calculator-block {
    border: 1px solid #999;
    border-radius: 11px;
    padding: 24px 16px;
}

.iti{
    width: 100%;
}

.bg-theme1{
    background-color: #03334F !important;
}
.bg-theme2{
    background-color: #D4DCCD !important;
}


.rate-options {
      display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rate-option {
  cursor: pointer;
  transition: all 0.3s ease;
  width: 30%;
}
.rate-option label{

  border: 2px solid #d0d7da;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}
.rate-option input[type="radio"] {
  display: none;
}

.rate-option span {
  display: block;
}

.rate-option .label {
  font-size: 9px;
  color: #7a8a92;
  margin-bottom: 6px;
}

.rate-option .value {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.rate-option:hover {
  border-color: #3b82f6;
}

.rate-option input[type="radio"]:checked + label {
  border-color: #03334f;
  background: #03334f;
}
.rate-option input[type="radio"]:checked + label span{
    color: #fff;
}

.relative{
    position: relative;
}
.Upfront-tooltip{

}


.upfront-wrapper {
cursor: help;
position: relative;
-webkit-transform: translateZ(0); /* webkit flicker fix */
-webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.upfront-wrapper .upfront-tooltip {
border-radius: 5px;
bottom: 100%;
color: #fff;
display: block;
left: -20px;
margin-bottom: 15px;
opacity: 0;
padding:10px;
pointer-events: none;
position: absolute;
min-width: 320px;
-webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
   -o-transform: translateY(10px);
    transform: translateY(10px);
-webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
   -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
   -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.upfront-wrapper .upfront-tooltip:before {
bottom: -20px;
content: " ";
display: block;
height: 20px;
left: 0;
position: absolute;
width: 100%;
}

/* CSS Triangles - see Trevor's post */
.upfront-wrapper .upfront-tooltip:after {
border-left: solid transparent 10px;
border-right: solid transparent 10px;
border-top: solid #fff 10px;
bottom: -10px;
content: " ";
height: 0;
left: 40px;
margin-left: -13px;
position: absolute;
width: 0;
}

.upfront-wrapper:hover .upfront-tooltip {
opacity: 1;
pointer-events: auto;
-webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
   -o-transform: translateY(0px);
    transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .upfront-wrapper .upfront-tooltip {
display: none;
}

.lte8 .upfront-wrapper:hover .upfront-tooltip {
display: block;
}

.text-body-small {
    font-size: 9px;
    line-height: 14px;
    font-weight: normal !important;
}
.flex-col{
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.text-body-small-bold {
    font-size: 12px;
    font-weight: 800;
}

.upfront-wrapper font {
    background-color: #c9c7c7;
    border-radius: 50%;
    padding: 1px 6px;
    font-size: 11px;
}
.loading {
    display: none;
    text-align: center;
    padding: 8px 0;
}
.loading img {
    width: 95px;
}

.slidecontainer {
  width: 100%;
}

.calculator-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 14px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.calculator-slider:hover {
  opacity: 1;
}

.calculator-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 18px;
  background: #03334f;
  cursor: pointer;
}

.calculator-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.calculator-field {
    padding-bottom: 18px;
    margin-bottom: -18px;
}

.form-control:read-only {
    background-color: #e6e6e6a6;
    cursor: no-drop;
}

.whatsapp-chat {
    position: fixed;
    right: -16px;
    bottom: -16px;
    z-index: 99;
}
.whatsapp-icon-position {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 50px;
    border: 2px solid white;
}
.whatsapp-icon-position img {
    animation-delay: 1.33s;
}
.whatsapp-icon-position:before, .whatsapp-icon-position:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    border-radius: 50%;
    box-shadow: 0 0 15px #36c714;
    animation: glow-grow 2s ease-out infinite;
}


@keyframes glow-grow{
    0% {
        opacity: 0;
        transform: scale(1);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }

}


.footer-banner {
    width: 100%;
    border-radius: 15px;
}